In [34]:
import pandas as pd
import random as r
import time
import datetime
from datetime import date

In [35]:
df = pd.read_csv("eventos.csv",sep=";")

In [36]:
df.head(100)

    COORDENADA_X  COORDENADA_Y HORARIO   DESPACHO   ATENCION  DERIVACION
0      61.678612     67.791569   01:50   3.453399   8.021162    4.645039
1      35.429909     99.203257   04:44   1.552830   6.369194    4.869563
2     123.487408     44.356048   05:12  12.688775  18.649126    4.995242
3      58.381987     74.758270   06:00  11.988468  29.907697   10.662879
4      39.055005     64.824808   07:08   1.657839   4.809806    7.915307
..           ...           ...     ...        ...        ...         ...
95     72.198356      6.736016   09:51   1.419049  14.070043    3.360431
96    108.839731     40.119530   10:01   0.913653  39.528973    6.931015
97    108.430911    102.807447   10:09   2.375673  10.559985   10.998926
98    117.529316    -17.214908   10:12   2.190509   6.782862   11.262325
99    134.607747     -2.110178   10:18   1.397229  26.390075   18.060730

[100 rows x 6 columns]

In [37]:
#123.487408	44.356048	05:12	12.688775	18.649126	4.995242

In [38]:
#####      CAMBIO DE HORA DE BASE DE DATOS
i = 0
while i<=22115:
    x = df.at[i,"HORARIO"]
    dto = datetime.datetime.strptime(x, '%H:%M')
    f = r.randint(-10,10)
    hora = datetime.timedelta(minutes=f) 
    final = (dto + hora).time()

    
    try:
        y = df.at[i+1,"HORARIO"] 
        dto_y = datetime.datetime.strptime(y, '%H:%M').time()
    except:
        pass

    try:
        z = df.at[i-1,"HORARIO"] 
        dto_z = datetime.datetime.strptime(z, '%H:%M').time()
    except:
        pass

    
    if  dto_z <= final <= dto_y:
      #  print(str(final))
      #  print(i)
        
        df.at[i,"HORARIO"]=(str(final))[0:5]
    i+=1

NameError: name 'dto_z' is not defined

In [39]:
#####          CAMBIO TIEMPO DE DESPACHO
i = 0
while i<=22117:
    x = r.randint(-10,10)
    if df.at[i,"DESPACHO"] + x < 0: 
        y = r.randint(0,10)
        df.at[i,"DESPACHO"] += y
        i += 1
    else:
        df.at[i,"DESPACHO"]+=x
        i+=1

In [40]:
df.head(100)

    COORDENADA_X  COORDENADA_Y HORARIO   DESPACHO   ATENCION  DERIVACION
0      61.678612     67.791569   01:50   6.453399   8.021162    4.645039
1      35.429909     99.203257   04:44  10.552830   6.369194    4.869563
2     123.487408     44.356048   05:12   5.688775  18.649126    4.995242
3      58.381987     74.758270   06:00  19.988468  29.907697   10.662879
4      39.055005     64.824808   07:08   1.657839   4.809806    7.915307
..           ...           ...     ...        ...        ...         ...
95     72.198356      6.736016   09:51   4.419049  14.070043    3.360431
96    108.839731     40.119530   10:01   4.913653  39.528973    6.931015
97    108.430911    102.807447   10:09   7.375673  10.559985   10.998926
98    117.529316    -17.214908   10:12   7.190509   6.782862   11.262325
99    134.607747     -2.110178   10:18   3.397229  26.390075   18.060730

[100 rows x 6 columns]

In [41]:
df.tail()

       COORDENADA_X  COORDENADA_Y HORARIO   DESPACHO   ATENCION  DERIVACION
22113    137.497950     54.439443   20:06   6.048169   6.760688   11.250615
22114    137.583988     36.692350   20:08   4.325365   6.848222    6.935870
22115     76.404509     64.501311   20:48  13.511597   9.661672   19.394586
22116      9.299912     68.862005   21:34   0.049713  13.086750   20.687035
22117     90.478750     34.783628   01:05   9.899438  23.512176   16.872030

In [44]:
#####          CAMBIO DE TIEMPO DE ATENCION
i = 0
while i<=22117:
    x = r.randint(-10,10)
    if df.at[i,"ATENCION"] + x < 0: 
        y = r.randint(0,10)
        df.at[i,"ATENCION"] += y
        i += 1
    else:
        df.at[i,"ATENCION"]+=x
        i+=1

In [45]:
df.head(100)

    COORDENADA_X  COORDENADA_Y HORARIO   DESPACHO   ATENCION  DERIVACION
0      61.678612     67.791569   01:50   6.453399  23.021162    4.645039
1      35.429909     99.203257   04:44  10.552830  21.369194    4.869563
2     123.487408     44.356048   05:12   5.688775  18.649126    4.995242
3      58.381987     74.758270   06:00  19.988468  16.907697   10.662879
4      39.055005     64.824808   07:08   1.657839  13.809806    7.915307
..           ...           ...     ...        ...        ...         ...
95     72.198356      6.736016   09:51   4.419049  23.070043    3.360431
96    108.839731     40.119530   10:01   4.913653  33.528973    6.931015
97    108.430911    102.807447   10:09   7.375673  24.559985   10.998926
98    117.529316    -17.214908   10:12   7.190509  17.782862   11.262325
99    134.607747     -2.110178   10:18   3.397229  33.390075   18.060730

[100 rows x 6 columns]

In [46]:
df.tail()

       COORDENADA_X  COORDENADA_Y HORARIO   DESPACHO   ATENCION  DERIVACION
22113    137.497950     54.439443   20:06   6.048169  25.760688   11.250615
22114    137.583988     36.692350   20:08   4.325365  14.848222    6.935870
22115     76.404509     64.501311   20:48  13.511597   4.661672   19.394586
22116      9.299912     68.862005   21:34   0.049713  20.086750   20.687035
22117     90.478750     34.783628   01:05   9.899438  16.512176   16.872030

In [47]:
#####           CAMBIO DE TIEMPO DE DERIVACION  
i = 0
while i<=22117:
    x = r.randint(-10,10)
    if df.at[i,"DERIVACION"] + x < 0: 
        y = r.randint(0,10)
        df.at[i,"DERIVACION"] += y
        i += 1
    else:
        df.at[i,"DERIVACION"]+=x
        i+=1

In [48]:
df.head()

   COORDENADA_X  COORDENADA_Y HORARIO   DESPACHO   ATENCION  DERIVACION
0     61.678612     67.791569   01:50   6.453399  23.021162    8.645039
1     35.429909     99.203257   04:44  10.552830  21.369194   11.869563
2    123.487408     44.356048   05:12   5.688775  18.649126    7.995242
3     58.381987     74.758270   06:00  19.988468  16.907697    6.662879
4     39.055005     64.824808   07:08   1.657839  13.809806    3.915307

In [49]:
df.tail()

       COORDENADA_X  COORDENADA_Y HORARIO   DESPACHO   ATENCION  DERIVACION
22113    137.497950     54.439443   20:06   6.048169  25.760688    4.250615
22114    137.583988     36.692350   20:08   4.325365  14.848222   11.935870
22115     76.404509     64.501311   20:48  13.511597   4.661672   22.394586
22116      9.299912     68.862005   21:34   0.049713  20.086750   23.687035
22117     90.478750     34.783628   01:05   9.899438  16.512176   14.872030

In [50]:
#####           CAMBIO DE COORDENADAS
i = 0
while i<=22117:
    x = r.randint(-20,20)
    if df.at[i,"COORDENADA_X"] + x < 0: 
        y = r.randint(0,30)
        df.at[i,"COORDENADA_X"] += y
        i += 1
    else:
        df.at[i,"COORDENADA_X"]+=x
        i+=1
j = 0
while j<=22116:
    x = r.randint(-20,20)
    if df.at[j,"COORDENADA_Y"] + x < 0: 
        y = r.randint(0,30)
        df.at[j,"COORDENADA_Y"] += y
        j += 1
    else:
        df.at[j,"COORDENADA_Y"]+=x
        j+=1

In [51]:
df.head()

   COORDENADA_X  COORDENADA_Y HORARIO   DESPACHO   ATENCION  DERIVACION
0     81.678612     55.791569   01:50   6.453399  23.021162    8.645039
1     27.429909    116.203257   04:44  10.552830  21.369194   11.869563
2    130.487408     43.356048   05:12   5.688775  18.649126    7.995242
3     50.381987     62.758270   06:00  19.988468  16.907697    6.662879
4     57.055005     80.824808   07:08   1.657839  13.809806    3.915307

In [53]:
df.to_csv("demanda_sintetica1.csv",sep=";")